.btn{ position: relative; }
.content { position: absolute; }

.top { top: 0;}
.bottom { top: 100px;}
.top { top: 0px;}
.btn:hover .top { top: -100px;}
.bottom { top: 100px;}
.btn:hover .bottom { top: 0px;}
.content {
position: relative;
transition: top 0.3s;
overflow: hidden;
}

.modal,
.modal-overlay
{
visibility: hidden;
opacity: 0;
transition: all .5s;
}
.modal.active,
.modal-overlay.active
{
opacity: 1;
visibility: visible;
}
.modal-close
{
font-size: 200%;
right: 15px;
top: 0;
position: absolute;
transition: transform 4s;
}
.modal-close:hover
{
transform: rotate(360deg);
}
<!--Form label styles were performed-->
.form-input + .form-label
{
position: relative;
padding: 0 lem;
color: #6A7989;
tranform-origin: center left;
transition: color 0.3s, transform 0.3s;
}
<!--Form label while input was given-->
.form-input:focus + .form-label{
color: #333333;
transform: scale(0.8), translateY(-40px);
}

